<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title> Edição de Usuarios </title>
</head>

<body>
	
	<h2> Editar Usuarios </h2>
	<form th:action="@{/usuarios/editar/{id}(id=${usuario.id})}" th:object="${usuario}" method="post">
		<div>
			<label for="id"> ID: </label>
			<input type="text" id="id" th:field="*{id}" th:readonly="readonly" />
		</div>
		<div>
			<label for="nome"> Nome: </label>
			<input type="text" id="nome" th:field="*{nome}" />
		</div>
		<div>
			<label for="cpf"> CPF: </label>
			<input type="text" id="cpf" th:field="*{cpf}" />
		</div>
		<div>
			<label for="telefone"> Telefone: </label>
			<input type="text" id="telefone" th:field="*{telefone}" />
		</div>
		<div>
			<label for="email"> Email: </label>
			<input type="text" id="email" th:field="*{email}" />
		</div>
			<button type="submit"> Salvar </button>
		</div>
	</form>
</body>

</html>